[2019-08-16 05:32] shadowspawn opened #20 "Section 5.6 has wrong text for Do and Otherwise"
Great coverage and content, thanks!

I noticed section [5.6](https://github.com/goldbergyoni/javascript-testing-best-practices/#-%EF%B8%8F56-constantly-inspect-for-vulnerable-dependencies) incorrectly starts with the first paragraph from section [5.5](https://github.com/goldbergyoni/javascript-testing-best-practices/#-%EF%B8%8F55-stay-away-from-legal-issues-using-license-and-plagiarism-check) and

[2019-08-16 05:39] shadowspawn commented on #20
Looks like an off-by-one as [Node.js & JavaScript Testing Best Practices (2019)](https://medium.com/@me_37286/yoni-goldberg-javascript-nodejs-testing-best-practices-2b98924c9347) has

[2019-08-16 18:50] goldbergyoni commented on #20
Welcome aboard and Great catch.

Many thanks for the help.

I shall be back home from a trip tomorrow and process all PRs/issues 🙏

[2019-08-17 13:39] kbariotis opened #25 "Use Mocha's context (alias for describe)"
I like Mocha's `context` alias for `describe`. Consider the following example (from 1.1):

[code]

It could be rewritten:

[code]

[2019-08-17 21:01] BruceWilliams opened #26 "Section 1.1 example code should check for true, not false"
The second example in section 1.1 says:

`expect(result.approved).to.be.false;`

It should be:

`expect(result.approved).to.be.true;`

(I'm guessing you made it false so you could simulate the error output in the next picture.)

[2019-08-18 13:42] baruchvlz commented on #26
Considering the write put this warning:

I'm doubt this is not an error. The writer is trying to demonstrate the use of good test names and how helpful it is to have them when a test fails.

[2019-08-19 16:48] goldbergyoni commented on #26
@BruceWilliams @baruchvlz Welcome 🎈

I think this is indeed a mistake, and as @baruchvlz said it does not make a lot of difference as the example focused on the name of the test. I'm leaving this issue open until I'll fix it

Thank you

[2019-08-19 16:49] goldbergyoni commented on #25
Great tip! Wasn't aware of that 😮

Can you share a link to its documentation?

[2019-08-19 16:54] goldbergyoni commented on #20
@shadowspawn Great catch. Thanks man. If you wanna PR the change - this would be helpful. But no worries, I can do this as well soon.

p.s. I didn't manage to link to the bullets (the TOC is clickable), you also saved that problem 😆

[2019-08-19 19:14] iagocavalcante opened #32 "Translate pt-Br"
Can i translate this repo to pt-Br?

[2019-08-20 04:52] icepeng opened #33 "Can I translate this repo to ko-KR?"
Awesome writing!

[2019-08-20 08:25] kbariotis commented on #25
[Here you go :)](https://mochajs.org/#bdd)

[2019-08-20 10:33] AmoDinho opened #35 "THANKS FOR MAKING THIS 🔥"
Hi @goldbergyoni,

Would really like to say thanks for making this resource! Every other resource for learning how to write tests really sucks!

What you've made on the other hand is a real game changer! 🔨

[2019-08-23 13:13] goldbergyoni opened #41 "Add Kyle to contributors"
@js-kyle Can you PR your name in the contributors?

[2019-08-23 22:07] js-kyle commented on #41
My pleasure, yes I will do that

[2019-08-24 05:22] js-kyle commented on #32
Exciting idea @iagocavalcante! Yoni will be back from break shortly to respond, I am sure he will be interested 👍

[2019-08-24 05:23] js-kyle commented on #33
@icepeng Nice idea! Yoni is back from break soon - I'm sure he will be interested 👍

[2019-08-24 05:24] js-kyle commented on #35
@AmoDinho awesome feedback 😃! Yoni will be back from break soon - he will be happy to see this I'm sure!

[2019-08-24 12:29] goldbergyoni commented on #35
@AmoDinho Many thanks for writing this, I indeed spent a long time with customers at the testing trenches and then long time on writing this text. Hearing that it actually helped someone justifies the energy :)

Appreciate your kind words 🙏

[2019-08-24 12:31] goldbergyoni commented on #25
I like how it structures the test.

Have a look at [RITE](https://github.com/ericelliott/riteway), it's also a nice way to push toward more structure

[2019-08-24 13:07] goldbergyoni commented on #33
@icepeng  Welcome aboard! Having a Korean translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

**Where to do the translation?** - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

**How to push chang

[2019-08-24 13:09] goldbergyoni commented on #32
@iagocavalcante  Welcome aboard! Having a Brazilian Portuguese translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

**Where to do the translation?** - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

[2019-08-25 15:18] iagocavalcante commented on #32
Thanks @goldbergyoni, that's an interesting workflow! I'll start this job in this week, thanks for the amazing work with this project!

[2019-08-26 07:23] AmoDinho commented on #35
@goldbergyoni Your energy was most definitely justified, because I was absolutely  hopeless with regards to testing. This has definitely made it possible to embrace TDD, especially the way in which the examples are coupled with the explanations. 💃

Once again thanks! 🥇

[2019-08-26 07:23] #35 closed

[2019-09-02 07:11] #41 closed

[2019-09-03 18:29] #20 closed

[2019-10-08 06:32] yvesyao opened #52 "2nd example of bullet 3.10 not given"
![image](https://user-images.githubusercontent.com/7723729/66372282-343afe80-e9d8-11e9-890a-1347db94fbe7.png)

BTW, I'm working on translating this readme to Chinese Simplified, and will be done today :]

[2019-10-26 18:42] goldbergyoni commented on #52
@yvesyao Good catch! fixed, thanks a lot man

Adding your name to the credits list (uploading it soon)

[2019-10-26 18:45] goldbergyoni commented on #32
@iagocavalcante That's just a proposed workflow, feel free to adjust

[2019-10-26 21:30] TomaszWaszczyk opened #55 "Make release"
Please make release from time to time to have notification for those who use Github's feature "Watch Release only"

[2019-11-07 09:46] goldbergyoni commented on #55
Great idea! @TomaszWaszczyk

@BrunoScheufler @js-kyle Why aren't we doing this also for nodebestpractices?

[2019-11-07 10:18] goldbergyoni opened #67 "Credits to contributors"
@js-kyle

Here's an updated list of people who deserve a credit on our home page

@stdavis
@AdrienRedon
@NoriSte
@yjoer
@jhonnymoreira
@Germanika
@AbdelrahmanHafez
@ruxandrafed
@jacklee814
@aloyr
@huhgawz
@battaile
@Rubicker
@haakonmb
@jaimemendozadev
@camerondunford
@shadowspawn
@aurelijusrozenas
@aaronshivers
@tomanagle
@yvesyao
@Userbit

[2019-11-07 14:24] iagocavalcante commented on #32
I'm back, today i'll do more progress

[2019-11-12 02:18] #33 closed

[2019-11-12 05:27] js-kyle commented on #67
@all-contributors-bot please add @stdavis for content

[2019-11-12 05:29] js-kyle commented on #67
I need to take a look at the bot as it isn't configured correctly, that won't take me too long though

[2019-11-14 07:20] goldbergyoni commented on #67
@js-kyle Sure, obviously take your time

[2019-11-21 23:55] DouglasMV opened #70 "Shield/Badges with wrong title or in wrong place"
I have already made a PR on this #69 but i suspect there are more Badges with wrong titles.
Also i think some of the badges are in the wrong code examples.
For example in the pratice [3.4](https://github.com/goldbergyoni/javascript-testing-best-practices#-%EF%B8%8F-34-dont-sleep-use-frameworks-built-in-support-for-async-events-also-try-to-speed-things-up) the first example has React and React Test

[2019-11-22 05:14] fybwid opened #71 "Indonesian Translation"
I want to translate the English [Javascript Testing Best Practices](https://github.com/goldbergyoni/javascript-testing-best-practices) version to the Indonesian language, may I?

[2019-11-23 19:49] goldbergyoni commented on #70
@DouglasMV All your fixes there are correct and very helpful, thanks a bunch!

[2019-11-23 19:52] goldbergyoni commented on #71
@fybwid  Welcome aboard! Having an Indonesian translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push changes

[2019-11-25 17:13] leandromuto commented on #32
@iagocavalcante @goldbergyoni I would like to help if possible.

[2019-11-25 20:25] iagocavalcante commented on #32
Off course, can your fork my fork and send a pr ?

[2019-11-26 14:22] leandromuto commented on #32
@iagocavalcante yes, I'll send asap. Thanks :)

[2019-12-03 08:06] #70 closed

[2019-12-03 08:06] goldbergyoni commented on #67
@js-kyle Just a friendly reminder 🙏

[2019-12-03 08:08] #55 closed

[2019-12-05 17:17] Antoine-Goncalves opened #72 "French Translation"
Hello I'm a young junior web  french developer and I'm very interested in testing right now. Therefore I propose if you wish to participate in the French translation if you allow me?

[2019-12-06 07:17] js-kyle commented on #67
@all-contributors-bot please add @stdavis for content

[2019-12-06 07:18] js-kyle commented on #67
@all-contributors-bot please add @AdrienRedon for content

[2019-12-06 07:19] js-kyle commented on #67
@all-contributors-bot please add @NoriSte for content

[2019-12-06 07:20] js-kyle commented on #67
@all-contributors-bot please add @yjoer for content

[2019-12-06 07:20] js-kyle commented on #67
@all-contributors-bot please add @jhonnymoreira for content

[2019-12-06 07:21] js-kyle commented on #67
@all-contributors-bot please add @Germanika for content

[2019-12-06 07:22] js-kyle commented on #67
@all-contributors-bot please add @AbdelrahmanHafez for content

[2019-12-06 07:23] js-kyle commented on #67
@all-contributors-bot please add @ruxandrafed for content

[2019-12-06 07:23] js-kyle commented on #67
@all-contributors-bot please add @jacklee814 for content

[2019-12-06 07:24] js-kyle commented on #67
@all-contributors-bot please add @aloyr for content

[2019-12-06 07:24] js-kyle commented on #67
@all-contributors-bot please add @huhgawz for content

[2019-12-06 07:26] js-kyle commented on #67
@all-contributors-bot please add @Rubicker for content

[2019-12-06 07:26] js-kyle commented on #67
@all-contributors-bot please add @haakonmb for content

[2019-12-06 07:30] js-kyle commented on #67
@all-contributors-bot please add @jaimemendozadev for content

[2019-12-06 07:30] js-kyle commented on #67
@all-contributors-bot please add @camerondunford for content

[2019-12-06 07:32] js-kyle commented on #67
@all-contributors-bot please add @shadowspawn for content

[2019-12-06 07:32] js-kyle commented on #67
@all-contributors-bot please add @aurelijusrozenas for content

[2019-12-06 07:35] js-kyle commented on #67
@all-contributors-bot please add @aaronshivers for content

[2019-12-06 07:35] js-kyle commented on #67
@all-contributors-bot please add @tomanagle for content

[2019-12-06 07:36] js-kyle commented on #67
@all-contributors-bot please add @yvesyao for content

[2019-12-06 07:38] js-kyle commented on #67
@all-contributors-bot please add @Userbit for content

[2019-12-06 07:39] js-kyle commented on #67
@goldbergyoni the contributors on the list you provided here have been added

[2019-12-16 11:20] goldbergyoni commented on #67
@js-kyle Awesome!

So now it will get updated automatically after each approved PR?

[2019-12-16 11:24] goldbergyoni commented on #72
@andreluisce  Welcome aboard! Having a French translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push changes

[2019-12-21 06:56] sanguino opened #99 "Spanish translation"
Great job! I think it is the most clear and comprehensive guide I ever read.

I think a Spanish translation could help some of my colleagues that don’t have English skills.

Can I help you doing the Spanish translation?

[2019-12-26 15:46] yasinaydin opened #101 "Cover image and link to medium article"
Hi!
Thanks for awesome repo!

I arrived at this repo from the [medium.com article][1]. I realled loved the [cover picture][2] below.

I'm not a testing professional to decide if it's technically 100% correct diagram, but it's one of the most clear diagrams I've seen that shows the testing phases. **Perhaps this could be included in Readme.md file?**

Also perhaps **the medium article link can also

[2019-12-27 11:17] adjerbetian opened #102 "Section 1.9 and 2.7 are duplicates"
The sections `Avoid global test fixtures and seeds, add data per-test` is present twice in 1.9 and 2.7

![image](https://user-images.githubusercontent.com/5993086/71515289-d0232a80-28a2-11ea-954d-84d46623407f.png)

![image](https://user-images.githubusercontent.com/5993086/71515278-c4376880-28a2-11ea-81df-2174da8b7e6e.png)

[2019-12-29 10:11] goldbergyoni commented on #101
About the image - good idea, thinking where/how

About the link - why link to an almost identical source?

[2019-12-29 10:12] goldbergyoni commented on #99
@sanguino  Welcome aboard! Having a Spanish translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push changes?

[2019-12-29 10:16] goldbergyoni commented on #102
Good catch, fixin really soon!

[2019-12-29 10:55] sanguino commented on #99
Great!!

I'm on vacation, as soon as I return home I will start translating.

Thanks!

[2019-12-29 11:53] yasinaydin commented on #101
About the link, yes you are right. The rest of the documet is almost identical :) And this is the source.

[2019-12-30 10:40] goldbergyoni opened #103 "🎓 Preview my Node.js testing course"
📢  I'm working on a comprehensive course about modern Node.js testing. It will contain more than 10 hours about the basics and also super-advanced topics like Microservice testing, testing with DB, contract testing and many others.

✅  To ensure the content quality is high - the lessons will be shared first with a closed group of programmers. Based on the feedback, the content will be then refined

[2019-12-31 18:30] goldbergyoni commented on #103
The registration is closed, thanks for the previewers who joined.

I'll update here once the course is ready.

[2020-01-06 07:33] wtfua92 opened #104 "Ukrainian translation"
Hey, guys. I would like to translate this guide into Ukrainian. How do you feel about it?

[2020-01-09 09:36] goldbergyoni commented on #104
@wtfua92  Welcome aboard! Having a Ukrainian translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push changes?

[2020-01-09 09:51] goldbergyoni opened #106 "How to add contributor to list?"
@js-kyle Layman question - when I approve John Doe's PR, will he be added automatically to the list or should I do anything manual?

[2020-01-09 10:24] wtfua92 commented on #104
Awesome! I'll start shortly :)

[2020-01-10 23:01] js-kyle commented on #106
It isn't fully automated - when you want to add a contributor, you request the bot to add them by mentioning it in an issue comment, by using the command

@all-contributors-bot please add @goldbergyoni for content

https://github.com/goldbergyoni/nodebestpractices/blob/master/.operations/CONTRIBUTING.md#other-contributions-

[2020-01-10 23:05] js-kyle commented on #106
It seems the bot isn't working as it should today :(

I will try it again soon - there might be an outage to the service

[2020-01-13 07:39] js-kyle commented on #106
@all-contributors-bot please add @goldbergyoni for content

[2020-01-20 15:49] goldbergyoni commented on #106
OK, let me try

@all-contributors-bot please add @js-kyle for content

[2020-01-20 15:50] goldbergyoni commented on #106
That's easy, even I can do this. Ping once it's up again and I'll add the latest contributos

[2020-01-20 16:00] goldbergyoni commented on #101
![image](https://user-images.githubusercontent.com/8571500/72740600-ab268c80-3bae-11ea-816e-5c40e84f8acf.png)

@yasinaydin  Working on this, I find this image to be more expressive (shows that moving right has merit and price), thoughs?

[2020-01-20 22:16] yasinaydin commented on #101
I liked the colors and readability with the previous one, more :) But I don't claim to be a good tester.

[2020-01-21 20:54] js-kyle commented on #106
Does the bot still have access to the repository? It is a bit strange it isn't working anymore

[2020-01-21 20:54] js-kyle commented on #106
@all-contributors-bot please add @goldbergyoni for content

[2020-02-03 04:38] js-kyle commented on #106
@all-contributors please add @goldbergyoni for content

[2020-02-03 04:39] js-kyle commented on #106
Okay @goldbergyoni I just had the command wrong the whole time 😅

I can see you've worked this out out - it works the same way as on the nodebestpractices repo

[2020-02-27 20:03] gromovadarya90 opened #113 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-08 15:54] #106 closed

[2020-04-08 12:56] mbiesiad opened #117 "Few small typos"
Hi, few small typos to correct:
(first row - original, second - recommended version)

2.1
white*check_mark
white_check_mark

[code]
-*_ vs _

Cindy Sridharan suggests a rich testing portfolio in her amazing post ‘Testing Microservices—the sane way
(...) same (...)
-same vs sane

some fear. and fear will slow you down
(...) , and (...)
-not dot

Great job!
Best greetings

[2020-05-04 15:42] muhammetaliakbay opened #122 "Turkish translation"
Thank you for these great documents. Every word of it is really what the way 👏 **Doing It Right**.

And, i would really be pleased to read them in Turkish language too. I know many many much developers who even don't know what are tests. To help them understand the concept easier, please let me try to translate it.

[2020-05-10 08:05] goldbergyoni commented on #122
@muhammetaliakbay  Welcome aboard! Having a Turkish translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push c

[2020-05-10 08:06] goldbergyoni commented on #117
@mbiesiad Many thanks, you have keen eyes for details :)

I'll edit those in my next PR, or if you happen to have some time to put this in PR it could be great

[2020-05-10 08:40] muhammetaliakbay commented on #122
Seems ok to me. It will be my new free time activity.

[2020-05-10 12:08] mbiesiad commented on #117
My pleasure! Fantastic. Looks great. Issue could be closed 🔥

[2020-05-31 23:42] brunopenso commented on #32
@iagocavalcante I can't find your PR to check, but the link on the readme.MD file points out to pt-br is missing.

[2020-07-11 14:59] #117 closed

[2020-07-27 17:10] brunopulis commented on #32
Hey @iagocavalcante I wish I could help translate, is there anything I can do?

[2020-07-27 18:14] iagocavalcante commented on #32
I'll close this issue because it's already done. To catch portuguese translation, click[here](https://github.com/goldbergyoni/javascript-testing-best-practices/blob/master/readme-pt-br.md)

[2020-07-27 18:14] #32 closed

[2020-07-28 16:21] sanguino commented on #99
Hi,

While translating, I saw that 1.9 and 2.7 are the same. Is this correct?

Thanks
(I hope I could send you my first commit at the end of the week)

[2020-08-01 12:12] sanguino commented on #99
Point 5.3, docker compose link have incorrect url, its linking to serverless.com, y changed it to docker compose in my translation

[2020-09-08 04:19] ngthuongdoan opened #133 "Vietnamese Translation"

[2020-09-16 11:28] goldbergyoni commented on #133
@ngthuongdoan WOW, sounds amazing! ✨🎉 I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push changes? - I will create a dedicated branch for yo

[2020-09-16 11:33] ngthuongdoan commented on #133
@goldbergyoni Thanks for the guidance. Maybe it will take longer than I thought because I have a lot of assignments in university, but I will try my best to complete 👌👌👌

[2020-09-16 12:29] goldbergyoni commented on #133
@ngthuongdoan University comes first! What do you study?

[2020-09-16 12:45] ngthuongdoan commented on #133
@goldbergyoni I'm currently a final year student of Can Tho University, Viet Nam and I've studied Software Engineering.

[2020-09-16 22:05] iot-resister opened #138 "Backend testing"
There's almost no unit testing here. Write a tiny bit of integration and e2e if  its critical.  This still follows the pyramid.   Its relative to amount of unit test (domain model/business logic) code required. You want 100%  unit  according to the pyramid. In this case 100% of zero is zero.

[2020-09-19 15:45] JuanMaRuiz opened #140 "Link to Spanish translations is missed in READMe files"
Hi! I notice that Spanish translation is already merged but the `README` file doesn't contains the link to that translation.

[PR created](https://github.com/goldbergyoni/javascript-testing-best-practices/pull/139)

Hope it helps

[2020-09-22 22:12] sanguino opened #141 "5.6 Constantly inspect for vulnerable dependencies"
Certificate expirations are very common and when your production site are down all the weekend becase the certificates expired on Fridays night, that is very annoying.

I think that it's a good idea to add a test that advise you X days before the certificates expires using a tool like https://www.npmjs.com/package/ssl-checker.

Regards!

[2020-09-24 15:56] goldbergyoni commented on #133
Good luck!

Consider translating this as you learn and practice some basics testing - It will make your translation work more meaningful

[2020-09-24 16:04] goldbergyoni commented on #138
@iot-resister Welcome! Interesting topic.

First, It might be more than just a few integration tests - There can be multiple error flows on the intersection between the systems, resiliency testing - What should happen when one party (e.g. Kafka) is down, ensure the various API data retrieval options work and more. Finally, you might end with 30 integration tests, 5 E2E, 0 unit tests. How does this

[2020-09-24 16:09] goldbergyoni commented on #138
p.s. I watched this video in the past, to which part/minute are you relating?

[2020-09-24 21:55] #140 closed

[2020-10-01 09:06] eskape opened #148 "Dutch translation"
Hi! Thanks for working on this. It helped me a lot.
I would like to give back some love and help out with a dutch translation.
What is the best way to start?

[2020-10-01 09:53] eskape commented on #148
I forked this project and started translating here:
https://github.com/eskape/javascript-testing-best-practices

I think I will be done somewhere next week.

[2020-10-01 13:21] luisangelorjr opened #149 "Portuguese (BR) Translation"
Hi! Thanks for all content here!

I can start a pt-br translation?
What's the best first step?

[2020-10-02 13:26] henriquelbsouza commented on #149
I think it is already there: https://github.com/goldbergyoni/javascript-testing-best-practices/blob/master/readme-pt-br.md

[2020-10-05 08:44] acebo opened #151 "Thai Translation 🇹🇭"
This is so awesome!! I have learned a lot from this.
I'm willing to translate it to Thai. Could you allow me?  🇹🇭 🇹🇭 🇹🇭

[2020-10-08 14:50] luisangelorjr commented on #149
Hi @henriquelbsouza thanks!

I opened a pull request to add the link to readme.md and list the contributors

[2020-10-12 02:26] ngthuongdoan commented on #133
@goldbergyoni
Sorry, but I can't get this. Haven't seen this branch. This is the first time I co.op with other repo 🤔
"How to push changes? - I will create a dedicated branch for you translations-{language}-staging (e.g. translations-fr-staging), whenever you want to save some changes or share with the team - just PR to this branch"

[2020-10-15 07:04] 66avvv1 opened #153 "有中文版的指导书么"
表示看不太懂  有哪位好心的哥哥发下中文的给我

[2020-10-16 14:11] goldbergyoni commented on #153
@blackmatch @bushuai Can you kindly translate this issue to English (one sentence)?

[2020-10-16 14:13] goldbergyoni commented on #151
@acebo Welcome aboard! Having a Thai translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) and do the translation work over there

How to push changes? - I wil

[2020-10-16 14:14] goldbergyoni commented on #149
@luisangelorjr Cool 🔥, looking now

[2020-10-16 14:20] goldbergyoni commented on #148
@eskape Welcome aboard to the testing ship🚢,  Really happy to hear these kind words! 💜

Having a Dutch translation would be awesome 🔥🌈👌 . I'll be glad to collaborate with you on this and help wherever I can

Before you start with this, I've prepared some basic workflow guidelines:

Where to do the translation? - Fork and work your own copy, create a readme-{language}.md file (e.g. readme-fr.md) an

[2020-10-16 14:27] goldbergyoni commented on #141
@sanguino Welcome and my apologies for the late reply. We had here many holidays, and lockdown and what's not:)

I really like this topic of rich production monitoring. Pingdom for example also contain this, they not only check for uptime rather also for 'future problems':
https://help.pingdom.com/hc/en-us/articles/360005584397-Certificate-monitoring-in-Uptime-checks

Maybe add a new section 'Prod

[2020-10-16 15:11] goldbergyoni commented on #133
@ngthuongdoan We can do this anyway you like.

Do you prefer that I'll create a branch or you could just fork, work on your own copy and then PR to master. What is your preferred way?

[2020-10-16 16:00] ngthuongdoan commented on #133
@goldbergyoni I forked and currently working on it. Just curious 😙

[2020-10-16 19:06] goldbergyoni commented on #133
Cool, good luck, looking forward to seeing the Vietnamese version

[2020-10-20 16:52] luisangelorjr commented on #149
Very nice <3

[2020-10-20 16:52] #149 closed

[2020-10-25 08:09] acebo commented on #151
@goldbergyoni Roger that! 😃 Thank you so much. I will do my best 🔥

[2020-11-18 13:47] eskape commented on #148
Hi @goldbergyoni,

Thanks for your reply and guidelines.
I will work on the dutch translation every week.
Will push changes here: https://github.com/eskape/javascript-testing-best-practices and create a PR once it is ready.

Thanks again!

[2020-12-05 11:30] goldbergyoni commented on #148
Sounds perfect!

[2021-01-19 16:40] Rookiebutgood opened #159 "Russian translation"
Hello, Yoni! Thank you for your great work!
I would like to make Russian translation of your book.
Could you give me your blessing for it?

P.S. Here is repository for this: https://github.com/Rookiebutgood/javascript-testing-best-practices

[2021-02-03 07:44] goldbergyoni commented on #159
Sounds amazing! Definitely supporting this and would be glad to help ✨🚀

Some other thoughts and instructions:

- Work on your own fork - Fork this repo, create a branch for yourself, translate & collaborate with other translators, then finally when ready create a PR

- Focus on translation, not content editing - The focus is on translation, should you want to modify the content or the graphics -

[2021-04-01 15:59] goldbergyoni opened #160 "Working on v2 of this guide, ideas for improvements?"
I'm enhancing the content now, writing more best practices and polishing existing content.

Have improvements ideas? Let me know 🙏🦄

[2021-04-01 16:11] goldbergyoni opened #161 "Call for more translations"
Hey hey,

I currently work on v2 of this guide, it will contain a few enhancements to modernize it. I think it could be awesome if we outreach more audience by speaking their mother-tongue language.

If you'd like to localize i - I'll be happy to assist by branching, cloning, finding reviewers and seeking colleagues who might help. Goes without saying, that the translated version will have your na

[2021-04-02 03:46] ngthuongdoan commented on #161
It's sound cool. Although I am currently working on my thesis, I'll try my best to translate it (again 🥲)

[2021-04-02 08:48] eskape commented on #161
No problem @goldbergyoni ! I will wait with translating until you are finished. I think I've translated about 1/3 of the guide.
Can you let us know once you are done with V2?

[2021-04-02 15:13] YA21 commented on #161
It sounds great! I'm looking forward to your work!! When you are done, I'll try to translate into Japanese with  @YukiOta .

[2021-04-02 20:57] mbiesiad commented on #161
Hi, sounds great! Can't wait 🚀

It will be a pleasure for me again. Let's keep in touch! 🔥

Best wishes,

[2021-04-04 14:01] YukiOta commented on #161
Sounds awesome! That would be cool if you keep us updated! Thanks!

[2021-04-26 06:56] mel-mouk commented on #161
Hi, thanks for this great repo, I would be happy to help with french translation

[2021-05-06 07:07] deny7ko commented on #104
hello fellow Ukranian 👋  @wtfua92

Do you have any updates on translation?

[2021-05-12 16:22] Aj-vrod commented on #161
Hi, people. I learned a lot from this repo and I'd like to help with the translation into Spanish. Count me in

[2021-05-13 05:11] contributorpw commented on #161
Sounds great! I'm here.

[2021-05-18 05:08] goldbergyoni commented on #161
@ngthuongdoan @YA21 @mbiesiad @YukiOta @contributorpw @mel-mouk @Aj-vrod

More than happy to see that you're up for this initiative 🥳✨!

You may start translating based on this version, the newer one will only have 4 new bullets and ~20 mino text fixes that I'll share with you separately.

Anyone, I'll keep you updated for sure!

[2021-05-19 14:16] contributorpw commented on #161
@goldbergyoni OK. It's clear.

Also I want to suggest some little markup rules for deep conformity in the context of languages. Is there a section or issue for this?

[2021-05-22 09:27] MattJin commented on #161
Sounds great!

[2021-05-22 18:32] mbiesiad commented on #161
Sounds great, my pleasure! 🎉

[2021-05-23 16:52] contributorpw commented on #159
@OleksandrTsyhankov We can coordinate. For example I take Section 0-1 https://github.com/contributorpw/javascript-testing-best-practices/blob/russian-translation/readme-ru.md now. Your turn.

[2021-05-23 17:12] contributorpw opened #167 "Suggestion of some little markup rules for deep conformity in the context of languages"
Hi! I'm an amateur translator. I love markdown. I also like the count lines of any translated documents to match. Ever.

I would like to suggest some guidelines to improve our markdown translation practice. Related #161

1. Do not break the paragraph on a new line. All lines are endless. Line length is endless. This means that a thought within a paragraph will always be within a paragraph. It is e

[2021-05-30 07:16] goldbergyoni commented on #104
@deny7ko Welcome! Are you to helping with this or just interested as a reader?

@wtfua92 LMK if you need any help with the procedural parts (e.g. creating the files, etc)

[2021-05-30 07:18] goldbergyoni commented on #161
@contributorpw About:

That's a great idea. In fact, we already work on doing this for our sister repo node-best-practices. @rluvaton is leading this and may share some updates and assets that we can share.

[2021-05-30 07:19] goldbergyoni commented on #167
I love this.

In fact, we already work on doing this for our sister repo node-best-practices. @rluvaton is leading this and may share some updates and assets that we can share?

[2021-05-30 07:21] goldbergyoni commented on #159
@contributorpw What exactly are these translations? Who did this? 🤔😉

@OleksandrTsyhankov Welcome and thanks for pushing this! 🌻

[2021-05-30 10:50] contributorpw commented on #167
@goldbergyoni it's good news!

I'd really like to take a look at this.

The next step is synchronous automatic checking of the untranslated parts.

[2021-05-30 11:56] goldbergyoni opened #170 "New BP: Avoid coupling between tests, each fail and succeed regardless of the other"
* Ideas and keywords: Fragile, domino cards, execution order, random order, create the state in the arrange phase (not in the previous test), avoid globals, repeat yourself*

[2021-05-30 11:58] goldbergyoni opened #171 "New BP: Copy the necessary details between tests"
* Ideas and keywords: Tests as a standalone universe, should tell a short but complete story, can be cumbersome if copying huge JSON, can be vague when extracting out

[2021-05-30 15:26] rluvaton commented on #167
@contributorpw thank you for the great suggestions!

@goldbergyoni Unfortunately I haven't had much time to work on it, but this week I will most certainly have

[2021-06-07 08:07] contributorpw commented on #159
@goldbergyoni ,

The first translation was already published when this repository was inited. I'm going to compare this.

The second translation is incomplete.

[2021-06-12 17:25] nizaarq opened #174 "Javascript"

[2021-06-16 20:19] nizaarq commented on #174
غت

[2021-06-24 10:55] #174 closed

[2021-08-11 11:29] a-aian opened #179 "Translate it to arabic language"
I would like to translate it , I will open PR in this branch

Thanks for awesome guide

[2021-08-15 14:14] goldbergyoni commented on #179
Sounds amazing! Definitely supporting this and would be glad to help ✨🚀

Some other thoughts and instructions:

Work on your own fork - Fork this repo, create a branch for yourself, translate & collaborate with other translators, then finally when ready create a PR

Focus on translation, not content editing - The focus is on translation, should you want to modify the content or the graphics - let'

[2021-08-15 14:15] goldbergyoni commented on #167
@contributorpw If you have the capacity, feel free to lead this. I don't even know where to start implementing this 😳

[2021-09-11 15:46] yasinbordbar opened #182 "Persian(Farsi) Translation"
hi
I would like to translate it into Persian/Farsi.

thank you for creating this great repo!

[2021-09-11 21:31] yuichkun opened #183 "Japanese 🇯🇵 Translation"
Hi, I just came across this repo and would love to contribute to the Japanese translation!

[2021-11-11 00:08] faridvatani commented on #182
Hi @yasinbordbar
Did you start it? I am also eager to help with the Persian translation.

[2021-11-11 07:56] yasinbordbar commented on #182
Hi @faridvatani
Unfortunately, not yet...
if you wish, we can work together.

[2021-12-27 16:59] shadabwahidullah opened #186 "das"

[2021-12-27 17:00] shadabwahidullah opened #187 "das"

[2022-02-01 11:24] MartinMuzatko opened #189 "How do you write code that is easy to test?"
Not sure if that is out of the scope of this best practice guide. I, however, miss an integral part that explains how to write code that is easier to test in the first place. In my experience, that goes hand in hand with benefits like more readable code, configurable behavior and options, focused functions. Some recommendation how to structure code or functions in a way that enables testing in the

[2022-03-17 06:29] acebo commented on #151
@goldbergyoni I have to say, very very Sorry for this 🙏  :pleading_face: I have a personal issue. I'm back now! and I've already started to translate it in my repo.
Could you please provide me a branch for pushing my updated translation as you mention? or can I create myself?

[2022-04-06 08:44] goldbergyoni commented on #151
@acebo All good 💚, glad that you're back.

I've created a branch for you: Thai-translation

Good luck! Looking forward to hear updates

[2022-04-06 08:54] goldbergyoni commented on #189
@MartinMuzatko Great idea although I'm not a fan of making **big** changes to code only for the sake of testing. That said, there are unnecessary things that can greatly complicate the testing experience:

* Avoid floating side-effect, better put those in functions - For example, If a developer starts the server using floating code, this will happen at the moment someone is importing the code, lea

[2022-04-06 08:55] #187 closed

[2022-04-06 08:55] #186 closed

[2022-04-06 08:56] goldbergyoni commented on #182
@yasinbordbar @faridvatani  Sounds amazing! Definitely supporting this and would be glad to help ✨🚀

Some other thoughts and instructions:

Work on your own fork - Fork this repo, create a branch for yourself, translate & collaborate with other translators, then finally when ready create a PR

Focus on translation, not content editing - The focus is on translation, should you want to modify the co

[2022-04-06 08:57] goldbergyoni commented on #183
@yuichkun That is beautiful! 💚

Let's merge these parts into master now and get your name on the honor wall?

[2022-04-08 17:14] sinanyaman95 opened #192 "Turkish Translation"
I just started translating this beautiful repo to Turkish.

---

## Progress

- [ ] Introduction
- [ ]  Section 0
- [ ]  Section 1
  - [ ]  1.1
  - [ ]  1.2
  - [ ]  1.3
  - [ ]  1.4
  - [ ]  1.5
  - [ ]  1.6
  - [ ]  1.7
  - [ ]  1.8
  - [ ]  1.9
  - [ ]  1.10
  - [ ]  1.11
  - [ ]  1.12
  - [ ]  1.13
- [ ]  Section 2
  - [ ]  2.1
  - [ ]  2.2
  - [ ]  2.3
  - [ ]  2.4
  - [ ]  2.5
  - [ ]  2.6

[2022-04-14 06:36] Lucarnosky opened #196 "Italian translation"
Hi, I will take the duty to translate the whole repo in Italian

[2022-04-22 15:20] Deotyma opened #201 "Polish translation"
Hello. I would like to translate this repo to Polish.

[2022-04-22 19:28] vasylnahuliak commented on #201
Already added https://github.com/goldbergyoni/javascript-testing-best-practices/blob/master/readme-pl.md

[2022-04-28 06:21] ziofat opened #202 "[3.2] Is data-test-id a good idea?"
I have seen this in cypress's documents that suggest to use `data-test-id` attribute to locate specific element. This can make test more stronger that survive changes like html structures and css names. However, in practice we found it is hard to avoid name conflicts in big project, and a lot of 3rd party ui components cannot add this attribute.

What we do is to use user aware information to loca

[2022-05-01 17:23] mbiesiad opened #204 "edupro-social-links-widget-1 needs fix"
# Description
At this moment content of `edupro-social-links-widget-1` works incorrect. See screenshots and details below.
First issue there is icon of Google+ (inactive platform since ~2019). Second issue - icons/link are not working correct now.

# Repro steps
1. Go to: https://testjavascript.com/
2. Scroll down, take a look at `edupro-social-links-widget-1` elements. Click on the icons
3. See t

[2022-05-01 20:21] mbiesiad opened #205 "Numbering of subpoints"
# Description
Numbering of subpoints needs fixes. At this moment - missing `1.9`. For fix: `2.12` & `2.13`.

# Screenshots
1.9
![image](https://user-images.githubusercontent.com/18367606/166163065-8bdffd7e-065c-4bf3-b422-68e08bb178a4.png)

2.12-2.13
![image](https://user-images.githubusercontent.com/18367606/166163084-3203d16b-35c4-4c1c-ae59-b878faafabac.png)

Best wishes,

[2022-05-01 20:43] mbiesiad commented on #205
Fixes #206

[2022-05-02 14:31] mbiesiad commented on #161
@goldbergyoni PR is ready #207
PS. I've added another PR #206 a little bit earlier, about fixes with numeration.

Best wishes,

[2022-05-30 12:36] MartinMuzatko commented on #189
I love the new bullet points :)

I think especially important is the module singletons problem. But I wouldn't limit it to singletons. I would go as far as to ban any side effects in the top level of the code, unless they are an application entrypoint. But yeah, singletons are definitly the core of the problem.
In an internal work-related wiki, I recently have written about these best practices. M

[2022-06-09 13:54] contributorpw commented on #167
@goldbergyoni,

My first thought was a validator that looks at the number of rows. It would be wise to start with something simple. Also, in the future, it is necessary to add a check of links and unchanging parts of the text, such as code, for example. It would be great to do without additional settings.

[2022-07-13 07:20] goldbergyoni commented on #189
Great observations. I guess by top-level you mean to import/require

Now I'm faced with something beyond that - When my logger.info is called, it sets locally a default configuration (no reason to set config state in every call, also we can't assume that someone will call logger.configure before the 1st call). Now my 1st test pass, but my 2nd can't simulate a scenario because the configuration is

[2022-07-13 10:57] goldbergyoni commented on #189
Adding one more to the list - Never relate to fixed port rather makes it configurable. Test can pass "0" and get an emepheral port. Otherwise, parallelizing tests won't be possible

[2022-07-13 11:28] palmerj3 commented on #189
One good practice I like is that each test should explicitly state (via comment or otherwise) who the user is. Every test should be written with a user in mind.

Unit tests often the users are other engineers on your team.
Integration/E2E are typically for end users of your system.

If you communicate this and tag these tests as such it becomes much easier to define best practices for each type of

[2022-07-13 11:39] goldbergyoni commented on #189
@palmerj3 That is surely interesting, can you provide an example for test name/comment?

Is this related with 'testable code' or a general testing best practices (which is the right place to share!)?

[2022-07-28 13:02] Shramkoweb opened #211 "Translate to Ukrainian 🇺🇦"
Hi here. Can i start translating your guides to ukrainian language ?

Do you have some recommendations or restrictions?

[2022-07-30 15:47] MartinMuzatko commented on #189
That's tricky. What are the options? Maybe with types you can ensure that only a configured instance of the logger gets used.
That can only be done using dependency injection as far as I know.
Dependency injection would also ensure that you have to configure your logger before passing it to the consumers. Or you could pass a logger that does nothing at all to enable unit tests. Although I admit, n

[2022-07-31 12:57] Shramkoweb commented on #211
Start implementing in https://github.com/goldbergyoni/javascript-testing-best-practices/pull/212

[2022-08-01 13:15] AJ-7885 commented on #182
I can help you to translate to Persian too. please let me know where do you stand right now.

[2022-08-02 13:00] tamirse opened #213 "PostgreSQL docker container optimization"
Hello,
Thanks for the amazing guide!

I remember attending one of your talks about this guide, and you had a section with several configurations to optimize a PostgreSQL docker container, resulting in a significant reduction of tests runtime.

I couldn't find it here, is it available somewhere?

[2022-08-12 10:33] khenissimehdi opened #214 "Avoid mocks in favor of stubs and spies"
# Avoid mocks in favor of stubs and spies

Correct me if im wrong but i was reading this paper ([Mocks Aren't Stubs](https://martinfowler.com/articles/mocksArentStubs.html)) you provided about test doubles, and then i compared it to what you wrote.

In the paper they say the following :

[2022-09-03 12:33] Shramkoweb commented on #211
@goldbergyoni Is it ok that I started doing the translation? Is the project active?

[2022-09-17 16:13] TREER00T opened #217 "2.11 is missing in the readme file"
According to changes in this [PR](https://github.com/goldbergyoni/javascript-testing-best-practices/pull/216) Item 2.11 is missing in the readme file. After some thought I came to the conclusion that this is a syntax error. Do you think I am right?

[2022-09-28 19:12] Saimon398 opened #218 "Translation into Russian"
Hello.
I would like to participate in such a cool project and translate into Russian?
Is it still relevant?

[2022-09-29 15:46] sumanth2904 opened #219 "Testing and java script"

[2022-09-29 18:12] evgeniyworkbel commented on #159
Hi there! How can I join to contributors to carry on translating this project into Russian?

[2022-09-29 18:14] evgeniyworkbel opened #220 "Translation into Russian"
Hi there! How can I join to contributors to carry on translating this project into Russian?

[2022-09-29 21:03] TREER00T commented on #220
Hi , Fork the project first, then refer to one of the translated readme files and edit accordingly.

[2022-09-29 21:10] TREER00T commented on #218
Yes, if this project is not translated for the Russian language, you can be the first to translate it, if there are any, you can improve your language-specific translated projects, or you can start the translation again.

[2022-11-22 15:08] michele-amati opened #223 "Does AAA applies to API/Integration testing?"
ATM, in my api backend, I have about 10% unit tests and 90% of what I would call "API tests". I'd like to include some of the best practices explained in this great repo, but I'm not sure how.

The problem starts by finding a correspondence between what I call "API testing" and the concepts in this repo.  [This article](https://methodpoet.com/api-testing-vs-unit-testing/) is quite fitting. In your